.contact-section {
    padding: 6rem 1rem;
}

.contact-section_container {
    display: flex;
    justify-content: center;
    gap: 2rem;
    max-width: 81rem;
    margin: 0 auto;
}

/*************   RIGHT  side   ***************/

.contact-right_content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.contact-card-1 {
    border: 2px solid var(--color-gray-3);
    border-radius: 1rem;
    padding: 1rem 2rem;
    background-color: #ffffff;
}

.card-1_content {
    padding-inline-start: 4rem;
}

.card-1-icon {
    flex-shrink: 0;
    background-color: #155bd5;
    color: white;
    font-size: 2em;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    padding-top: .5rem;
    text-align: center;
    box-sizing: border-box;
    position: absolute;
    right: -5rem;
    top: 0;
}

.caed-1-text {
    position: relative;
    margin-bottom: .6rem;
}

.caed-1-text h4 {
    margin: 0 0 .4rem 0;
    font-size: 1.4em;
    color: #155bd5;
}

.caed-1-text_body {
    display: flex;
    flex-direction: column;
    color: var(--color-dark-3);
    font-size: 1.1em;
    line-height: 2rem;
}

.caed-1-text_body a {
    color: #155bd5;
}

/*************   LEFT  side   ***************/

.contact-left {
    flex-basis: 80%;
}

.contact-card-2 {
    box-shadow: 0 0 10px 1px #1c3bb667;
    border-radius: 1rem;
    padding: 3rem 2rem;
    background-color: #ffffff;
}

.card-2_heder {
    text-align: center;
    font-size: 1.5em;
    max-width: 35rem;
    margin: 0 auto;
}

.card-2_heder span {
    font-size: .9em;
    font-weight: 600;
    color: #155bd5;
}

.card-2_heder h2 {
    margin-block: 0 1rem;
}

.card-2_heder p {
    line-height: 2.2rem;
    font-size: .8em;
    color: var(--color-dark-2);
}

.card-2_container {
    padding: 1rem 0;
}

.contact-form {
    display: grid;
    gap: 2rem;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto 2fr;
}

.contact-form input,
.contact-form textarea {
    transition: .5s;
    outline: none;
    font-size: 1.1em;
    box-sizing: border-box;
    border: 2px solid var(--color-gray-3);
}

.contact-form input {
    padding: .7rem 2rem 1rem 1rem;
    border-radius: 5rem;
}

.contact-form textarea {
    width: 100%;
    grid-column: 1 / span 2;
    border-radius: 1rem;
    padding: 1rem;
    overflow-y: auto;
    font-size: 1.6em;
    font-weight: 500;
}

.contact-form textarea:focus,
.contact-form input:focus {
    border-color: #155bd5;
}

.contact-form button {
    grid-column: 1 / span 2;
    max-width: 20rem;
    text-align: center;
    margin: 0 auto;
    padding: .6rem 2rem .8rem 2rem;
    font-size: 1.1em;
    font-weight: 500;
    border: 0;
    background-color: #155bd5;
    border-radius: 2rem;
    color: var(--color-light-3);
}

.contact-form button:hover {
    transition: .5s;
    cursor: pointer;
    background-color: #1c3ab6;
}


/*       Make them Responcive from here :)  */


@media screen and (max-width: 1375px) {
    .contact-section_container {
        max-width: 70rem;
    }

    .contact-left {
        flex-basis: 90%;
    }

}


@media screen and (max-width: 1200px) {
    .contact-section_container {
        max-width: 57rem;
        flex-direction: column;
    }

    .contact-right_content {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .contact-card-1 {
        flex-basis: 41.7%;
    }

    .card-2_heder {
        max-width: 50rem;
    }

}


@media screen and (max-width: 992px) {
    .contact-section_container {
        max-width: 45rem;
    }

    .contact-card-1 {
        flex-basis: 39.5%;
    }

    .card-1_content {

        padding-inline-start: 1rem;
    }

    .caed-1-text {
        margin-bottom: 1.6rem;
        padding-inline-start: 3rem;
        padding-top: .5rem;
    }

    .card-1-icon {
        right: -2rem;
        top: -.5rem;
    }



}


@media screen and (max-width: 768px) {
    .contact-section_container {
        max-width: 32rem;
    }

    .contact-card-1 {
        flex-basis: 100%;
    }

    .card-2_heder {
        font-size: 1.2em;
    }

    .card-2_heder p {
        line-height: 1.7rem;
    }

    .contact-form {
        display: flex;
        gap: 1rem;
        flex-direction: column;
    }

    .card-1-icon {
        padding-top: .8rem;
    }
}


@media screen and (max-width: 576px) {
    .contact-section {
        padding: 6rem 2rem;
    }

}