.service-section {
    padding-block: 4rem;
}


.services-body {
    padding: 2rem;
    margin: 0 auto;
    max-width: 1300px;
    font-size: 1.5em;
}

.services-body_content {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;

}
