


.service-card {
    flex-basis: 26rem;   /* 1200  => 22.5  /   991 =>  18.0      */
    max-width: 26rem;
    background-color: rgb(255, 255, 255);
    box-sizing: border-box;
    padding: 2rem;
    font-size: .9em;
    border-radius: .8rem;
    border: 2px solid #8f8f8f2e;
}

.service-card:hover{
    transition: .5s;
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}
.service-card:hover .icon-content{
    transition: .5s;
    background-color: #255ff3;
}
.service-card p{
    color: var(--color-dark-2);
    font-size: .79em;
}

.icon-content {
    
    border: 2px solid #255ef3;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;

}